# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Build dir
build/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env

# DB dumps
dumps/

# macOS
.DS_Store

# Keys
id_rsa
id_rsa.pub

# API Key file
api-keys.json